/* Fonts */
#logo { font-family: 'Arvo', serif; font-size : 24px; letter-spacing: -1px; font-weight: bold; }
#main, input, choice, #plainView, #normalView { font-family: Vedana, sans; font-size: 14px; }
p { line-height: 150%; }
h1, h2, h3, h4 { font-family: 'Arvo', serif; font-weight: normal; }
h1 { font-size: 28px; font-weight: bold; }
h2 { font-size: 24px; font-weight: normal; }
h3 { font-size: 18px; font-weight: normal; }
#tabs { text-transform: uppercase; font-size: 12px; }
#tabs a { text-decoration: none; }
.tabs a { text-decoration: none; }

/* Full-screen layout */

body.fullScreen { background-color: white; color: black; margin: 0; }

/* Layout */

#whole { width: 980px; margin: 0 auto; }
#header { text-align: right; }
#logo { margin: 2em 0; }
#logo p { margin: 0; padding: 0; }

#tabs { text-align: center; }
#tabs .tab { float: left; }
#tabs .tab a { display: block; padding: 16px 2em; }
#belowTabs { clear: both; }

#main { margin: 1em 0; }
#preContent { min-height: 2em; }
.serverName { position: absolute; top: 0; left: 0; padding: 4px; }
.serverName a { color: #224; }

body.wide #navigation { float: none; width: inherit; margin-top: 2em; }
body.wide #navigation .menu { line-height: 200%; }
body.wide #navigation .menu a { display: inline; white-space: nowrap;}
.menu a {display: block; margin: 0.8em 1em;  }

#preContent { clear: both; margin: 1em 0 0 0; }
#columns #content { clear:both; float:right; width: 650px; padding: 0 2em 20px 2em; }
#navigation { float: left; width: 200px; padding: 0px 1em; }

#full { clear: both; }
#full #content, body.wide #columns #content { width: 920px; padding: 0 2em 20px 2em;}

#belowColumns { clear: both; margin : 1em 2em; }
#footer { text-align: center; padding: 1em; clear: both; }

#search { display: inline-block; right: 0; padding: 4px 0 4px 0.5em; border: 1px solid #333; }
#searchText { border: 0; background: #000; color: #eee; }
#searchSubmit { border: 0px; background: none; color: #888; }

#normalView { display: none; position: absolute; top: 0; right: 0; padding: 4px; }

.hidden { display: none; }

/* Tags */

hr { clear: both; }
h2, h3, h4 { clear: both; }
h1 { margin: 0em 0 1em 0; padding: 0.7em 0 0 0; }
h2 { margin: 1em 0; padding : 0 0 12px 0; }
h3 { margin: 2em 0 1em 0; }
h4 { margin: 1em 0 1em 0; }

h1 img, h2 img, h3 img { vertical-align: middle; }

#navigation h2 { padding: 0 0 12px 15px; }
#navigation li { list-style-type: none; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

ul, ol { padding: 0; margin: 0; }
ul li, ol li { padding: 0; margin: 1em 0 1em 2em; }
li img { vertical-align: middle; }

table { border-collapse: collapse; }
td, th { border: 1px solid #666; padding: 4px 8px; text-align: left; font-weight: normal; }
th a { font-weight: bold; color: #c11; }

pre { padding: 1em; overflow: scroll; }

/* Form */

.form { border-radius: 5px; background-color: #f2f2ff; padding: 1em; }
.form input[type=text], .form input[type=file], .form select, .form textarea{
    width: 100%; padding: 0.5em 0.5em; margin: 0 0 0.5em 0; font-size: 110%;
    display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;
}
.form select { background-color: #f8f8f8; }

.button { color: #fff; background-color: #666; border: 0; padding: 0.4em 1em; min-width: 6em; border-radius: 0.2em; }
.button.ok { background-color: #44e; }
.button.delete { background-color: #e44; }

input[type=search] { padding: 3px 10px; font-size: 110%; }

/* Class Styles */

.tools { float: right; padding: 0.5em; }
.tools .tool { padding-left: 1em; }
.tools .tool:before { content: "["; }
.tools .tool:after { content: "]"; }

.toolImg { padding: 0 0.5em; }
a.toolImg img       { filter: drop-shadow(3px 3px 2px #888); }
a.toolImg:hover img { filter: drop-shadow(3px 3px 2px #b44); }

.clear { clear: both; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

.floatLeft { float: left; padding-right: 10px; padding-bottom: 20px; }
.floatRight { float: right; padding-left: 10px; padding-bottom: 20px; }

table.plain td { border: 0; }

table.wide { width: 100%; }

.keyword {
    font-family: monospace;
    background-color: #e7e7ce; color: #191919;
    box-sizing: border-box; border-radius: 4px; padding: 2px 6px;
}

/* Colors */

body { background: #000; color: #fff; }
body.private { background: #002; color: #fff; }
a { color: #e44; }

#navigation a, #footer a { color: #888; }
#main { background: #fff; color: #222; border: 1px solid #bbb; border-radius: 2px; }
td { color: #222;  }
th { background: #ddd; color: #333; }

#tabs .tabSelected { background: url('tab.jpg'); }
#tabs .tab a { color: #eee; }
#tabs .tab a:hover { color: #fff; }

h2 { border-bottom: 1px solid #bbb; }
ul li:before{ color: #aaa; }
pre { border: 1px solid #333; background: #eee; }
ul li { line-height: 140% }

.tabsContent { clear: both; border: 1px solid #333; background: #eee; padding: 1em; }

.grey { color: #666; }
a.notFound { color: #00b; text-decoration: underline; }

#plainView, #normalView { color: #666; padding-right: 10px; }

.markdown img { max-width: 100% }

/* Thumbnail Grid */
.thumbnails { clear: both; text-align: center; }
.thumbnailBox { display: inline-block; width: 200px; height: 200px; }
.thumbnailContainer { position: relative; width: 200px; height: 150px;}
.thumbnailWrapper { position: absolute; width: 200px; bottom: 0px; text-align: center; }
.thumbnailLabel { position: absolute; text-align: center; width: 200px; }
.thumbnailIcons { position: absolute; text-align: center; width: 200px; top: -16px; }

/* thumbnail images have a drop shadow which turns red when you hover (except "folder" icons) */
.thumbnailBox img { border-radius: 5px; filter: drop-shadow(3px 3px 2px #888); }
.thumbnailBox a:hover img { filter: drop-shadow(3px 3px 1px #b44); }
.thumbnailBox a img.folder { box-shadow: none; }
.plain .thumbnailBox a img {  box-shadow: none; }
.plain .thumbnailBox a:hover img { box-shadow: 0px 0px 8px #c11; }
.thumbnailBox a:hover img.folder { background-color: #c11; box-shadow: 0px 0px 2px 3px #c11; border-radius: 4px; }

.emblem { margin-left: -32px; }
.emblem img { box-shadow: none !important; background: none !important; }

/* Images */

.imageContainer { text-align: center; margin: 0 0 30px 0; }
.imageContainer img { max-width: 100%; max-height: 700px; border-radius: 10px; box-shadow: 10px 10px 10px #bbb; }
img.plain { border-radius: 0; box-shadow: 0 0 0 #fff; }
.notes { text-align: left; }

/* Music */

.artist .thumbnailBox { height: 150px; }
.artist .thumbnailContainer { height: 100px; }

.artist { border: 1px solid #ccc; border-radius: 10px; padding: 15px 15px 0 15px; margin-bottom: 2em; }
.artist h3 { margin: 0 0 1em 0; }

.albumCover { float: right; margin: 0 0 2em 1.5em; }
.albumCover img { border-radius: 10px; box-shadow: 6px 6px 6px #888; }
.albumCover a:hover img { box-shadow: 6px 6px 6px #b44; }

/* Pager */

.pager { text-align: center; margin: 3em 0; line-height: 200%; }
.pager a { padding: 0.5em; }
.pager .currentPage { border: 1px solid #888; padding: 3px; border-radius: 4px; }
.pager a:hover{ background: #e44; border-radius: 4px; color: #fff; text-decoration: none; }

/* Info List */

.infoList li { display: inline-block; list-style-type: none; }
.infoList li { line-height: 2em; padding: 0; margin: 0; line-height: 3em; }
.infoList li a { width: 200px; border: 1px dotted #800; padding: 0.5em 1em; margin: 0 0.3em; white-space: nowrap; }
.infoList li a:hover { background: #fee; color: #f00; text-decoration: none; }

/* GroupBy */

.groupByInitials { text-align: center; }

/* table of contents */

.toc { border: 1px solid #f88; border-radius: 10px; box-shadow: 5px 5px 5px #ddd; background: #fee; padding: 1em; margin: 0em 1em 2em 1em;}

/* Games */

.crosswordSolverResults { -webkit-columns: 20em; -moz-columns: 10em; columns: 10em; }
#playArea { margin: 16px; }
#playArea .piece { position: absolute; visibility: hidden; }

/* Wiki */

.splitVertical{ display: flex; flex-direction: column; }
.splitVertical .top { height: 50vh; width: 100vw; overflow: hidden; text-align: center; background-color: #ccf; }
.top textarea{ float: left; width: 70%; height: 100%; background-color: #eef; }
.top h3 { clear: none; }
.splitVertical .bottom { height: 50vh; width: 100vw; overflow: scroll; }

.previewWikiNarrow { width: 980px; margin: 0 auto; font-family: Vedana, sans; font-size: 14px; }

.buttons { text-align: center; }
.buttons input { margin : 1em; min-width: 7em; }
.error { color: #d00; }
.info { color: #0a0; }
#editTextArea { box-sizing: border-box; resize: none; padding : 0.5em 0.5em; }
.summaryMore { float: right; }

#navigation .editSection{ display: none; }
.editSection { float:right; }
.editSection1 { margin-top: -3.7em; }
.editSection2 { margin-top: -2.5em; }
.editSection3 { margin-top: -2.5em; }
.editSection a:hover { color: #e44; }
.editSection a { color: #ccc; padding-left: 0.8em; }
.editSection a:before { content: "["; color: #aaa;}
.editSection a:after { content: "]"; color: #aaa;}

.codeBlock { background: #383b40; color: #d3d3d3; padding: 16px; border-radius: 5px; }
.codeBlock ol { }
.codeBlock ol li { white-space: pre; list-style-type: none; font-family: monospace; font-size: 110%; line-height: 140%; padding: 0; margin:0; }
.codeKeyword { color: #c678dd; }
.codeSpecial { color: #d19a66; }
.codeComment { color: #ffddbe; }
.codeString { color: #98c379; }

/* Search */
.searchResult h3 { margin : 1em 0 0 0; }
.categories { padding : 0 0 0 2em; }
.url, .url a { color: #080; }
.url .searchInfo { float: right; }
.links .searchInfo { padding-left: 0.5em; }
.searchInfo a { color: #888; }

/** Player specific css */

.playerCurrentSong { text-align: center; margin-bottom: 1em; }
.playerCover { margin-bottom: 10px; }
.playerCover a img { box-shadow: 4px 4px 4px #888; border-radius: 10px;}
.playerCover a:hover img { box-shadow: 4px 4px 4px #c11; }

table.playerPlaylist { width: 100%; border: 0px; spacing: 0px; border-collapse: collapse; }
table.playerPlaylist th { background: #bee0f8; font-weight: bold; white-space: nowrap; padding-top: 16px; padding-bottom: 16px; }
table.playerPlaylist td, table.playerPlaylist th { border: 0px; }
table.playerPlaylist tr:nth-child(odd) { background: #eee; }
table.playerPlaylist tr.playerCurrent { background: #bee0f8; }
table.playerPlaylist td.playerOrderNumber, table.playerPlaylist td.playerButtons { text-align: right; white-space: nowrap; }
table.playerPlaylist td.playerEntryDetails { padding : 0.5em 1em; }
table.playerPlaylist td.playerButtons a { padding-left : 1em; }

.playerArtist .thumbnailBox { height: 150px; }
.playerArtist .thumbnailContainer { height: 100px; }

.playerArtist { background: #ececec; border: 1px solid #ccc; border-radius: 10px; padding: 15px 15px 0 15px; margin-bottom: 2em; }
.playerArtist h3 { margin: 0 0 1em 0; }

div.playerSearch { text-align: center; margin-bottom: 2em;}

table.playerSearch { width: 100%; border: 0px; spacing: 0px; border-collapse: collapse; }
table.playerSearch td { border: 0px; }
table.playerSearch tr:nth-child(odd) { background: #eee; }
table.playerSearch td.playerType { width: 5%; }
table.playerSearch td.playerButtons { text-align: right; width: 5%; white-space: nowrap;}
table.playerSearch td.playerButtons a { padding-left : 1em; }
table.playerSearch td.playerResultDetails { padding : 0.5em 1em; width: 70%; }

#sliderBox { height: 24px; width: 200px; margin: 0 auto; cursor: crosshair;}
#sliderButton { position: absolute; display: none; }
#sliderButton img { filter: drop-shadow(2px 2px 3px #333); }

/* Garden Specific css */

table.schedule { width: 100%; }
table.schedule th, table.plantChart th { white-space: nowrap; }
table.schedule th.month { width: 6%; text-align: center; }
table.plantChart th.month { width: 2em; text-align: center; }
table.schedule th.rowHeading { width: 28%; text-align: right; }
table.plantChart th.rowHeading { text-align: right; }
table.plantChart td { height: 1em; width : 1em; }

table.plantChart td.scheduleCell, table.schedule td.scheduleCell { text-align: center; font-weight: bold; }
table.plantChart td.sowIndoors, table.schedule td.sowIndoors { background: #f88; }
table.plantChart td.sowOutdoors, table.schedule td.sowOutdoors { background: #88f; }
table.plantChart td.flowers, table.schedule td.flowers { background: #ff8; }
table.plantChart td.plantOut, table.schedule td.plantOut { background: #8f8; }
table.plantChart td.harvest, table.schedule td.harvest { background: #fc8; }
table.plantChart td.extra, table.schedule td.extra { background: #ddd; }

.plantData { text-align: right; }

/* Family Album */

.family { width : 100%; }
.family .generation { position: relative; height: 460px; }
.family .generation .subject { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 450px; text-align: center; }
.family .partners { position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 250px; text-align: center; }
.family .siblings { position: absolute; top: 50%; transform: translateY(-50%); right: 0; width: 250px; text-align: center; }

@media (max-width: 1000px) {
.family .generation { position: static; height: auto; }
.family .generation .subject { position: static; top: auto; left: auto; transform: none; width: 100%; }
.family .partners { position: static; top: auto; transform: none; left: auto; width: 100%; }
.family .siblings { position: static; top: auto; transform: none; left: auto; width: 100%; }
}

.family h2 { color: #555; margin: 0; border-bottom: 1em; }
/* NOTE, the radius should be half the size of the thumbnail, so that it forms a circle */
img.sipThumb { border-radius: 56px; filter: drop-shadow(4px 4px 5px #333); padding: 6px;}
img.sip { border-radius: 200px; width: 400px; height: 400px; filter: drop-shadow(7px 7px 8px #333); }

#glass { position: relative; width: 100%; height: 100%; border: 1 px solid blue; }
.existingSIP { background-color : rgba(0,200,0,0.5); }
.hiddenSIP { background-color : rgba(0,0,0,0.01); }
.hiddenSIP:hover { background-color : rgba(255,255,255,0.125); box-shadow: 0px 0px 6px #e44; }

.newSIP { background-color : rgba(0,0,200,0.5); }


/* Plain View - Hide header, footer, navigation etc */

.plain #header, .plain #footer, .plain #tabs, .plain #navigation, .plain .searchInfo,
.plain .editSection { display: none; }
.plain #main { margin: 0; }
.plain #whole { width: auto; margin: 0; }
.plain #columns #content {float : none; width: auto; }
.plain #full #content { width: auto; }
.plain #content { width: auto; }
.plain #normalView { display: block; margin: 6px; 1em; }
body.plain { margin: 0; }


/* Narrow Devices (phones etc) */

@media (max-width: 1000px) {
  body, body.private { padding: 0; margin: 0; background: #fff; }
  #header { background: #000 }

  #whole { width: 100%; margin: 0; }
  #main { border: 0; margin: 0; border-radius: 0; }
  #plainView { display: none; }
  #full #content, #columns #content { width: 100%; float: none; width: inherit; margin: 0; padding: 0 0.5em; }
  #navigation { float: none; width: inherit; margin-top: 2em; }
  #navigation .menu { line-height: 200%; }
  #navigation .menu a { display: inline; white-space: nowrap;}
  #search { text-align: right; margin-top: 0em; margin-right: 2em; }

  .artist, .playerArtist, .playerCover a img { border: 0; border-radius: 0; padding: 0; background: none; margin: 0 0 1em 0; }
  .playerCover a img, .playerCover a:hover img  { box-shadow: none; }
  .imageContainer img, a:hover .imageContainer img { border-radius: 0; box-shadow: none; }

  a.toolImg:hover img, a.toolImg img, .thumbnailBox a img, .thumbnailBox a:hover img,
  .thumbnailBox a:hover img, .thumbnailBox a img
    { filter: none; border-radius: 0; }

  .albumCover { display: none; }

  #belowColumns { display: none; }
  #footer { display: none; }
  .searchInfo { display: none; }
}
