body { margin: 0px; padding: 0px; font-family: Verdana, arial, sans; font-size: 80%; }

#map { position: absolute; z-index: 200; width: 100%; height: 100%; }

#tools { position: absolute; z-index: 300; padding: 1px 4px; right: 60px; top: 5px; font-weight: bold; line-height: 300%; }
#tools a { border: 1px solid #aaa; padding: 5px 1em; white-space: nowrap; }
#tools a { background-color: #fff; color: black; text-decoration: none; font-weight: normal;  border-radius: 4px; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65); }

.searchBox { border-radius: 4px; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65); padding: 1px 26px 1px 10px; }
.searchButton { position: absolute; right: 44px;	top: 8px;	display: block; background: none; border: 0px; }
.advancedSearch { position: absolute; right: 60px;	top: 8px;	display: block; background: none; border: 0px; }

.popup { visibility: hidden; position: absolute; z-index: 310; padding: 1em; top: 50px; right: 24px; }
.popup { color: #222; background: #fff;  border: 1px solid #aaa; border-radius: 4px; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65); }
.popup ul { padding: 0px; margin: 0; list-style-type: none;}
.popup ul li { padding: 5px 0px; margin: 0; }
.popup a { padding: 5px 10px; color: #222; text-decoration: none; white-space: nowrap; }
.popup a:hover { background: #eee; }
.popup hr { border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }
.popup .right { float: right; margin: -6px 0; }

.popup { max-height: 80%; overflow-y: scroll; }
