body { background: #000; color: #fff; text-align: center;}
button { margin: 6px 1px; }

#roll,#rollInstructions,#dice,#claim,#claimButtons,#choice,#gameOver {display: none;}

#state.newGame #roll {display: block;}

#state.rolled #dice { display: block; }
#state.rolled #claim { display: block; }
#state.rolled #claimButtons { display: block; }

#state.acceptReject #claim { display: block; }
#state.acceptReject #choice { display: block; }

#state.accepted #dice { display: block; }
#state.accepted #roll {display:block;}
#state.accepted #rollInstructions {display:block;}

#state.rejected #dice { display: block; }

#state.gameOver #dice { display: block; }
#state.gameOver #claim { display: block; }
#state.gameOver #gameOver { display: block; }


